body {
  background-color: #121212;
   font-size: 16px;
}
h1 {
  color:white;
}
p {
  color:white;
  opacity: 87%;
  font-family: 'Ubuntu', sans-serif;
}
div{
  
  margin:auto;
  background-color: #292929;
  height: 40rem;
  width: 60rem;
  text-align: center;
  border-radius: 4px;
  border:solid;
  border-color: #ff0040;
}
input {
  margin: 3px;
  border:solid;
  border-color: #ff007f;
  border-radius: 4px;
  background-color: #141414;
  color:white;
  opacity:87%;
}
.input {
  height:2rem;
}
button {
  height:2rem;
  width: 6rem;
  border-radius: 4px;
  border-color: #ff007f;
  background-color: #141414;
  color:white;
}
.calcbtn {
  margin-top: 20rem;
}
.extInfo {
  font-size: 10px;
}